:root {
    --time-elapsed: 25%;
}

* { box-sizing: border-box; }

html, body { padding: 0; margin: 0; }

html {
    background-color: rgba(20, 20, 25, 1);
    text-align: center;
    color: white;
}

body {
    color: var(--f_high);
    font-family: "Helvetica Neue", sans-serif;
}

#app {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 100vh;
    padding: 30px 10px 10px;
    text-align: left;
}

#control {
    height: 100%;
    width: 100%;
}

#settings {
    position: absolute;
    top: 10px;
    right: 10px;
}

p {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    line-height: 1;
    margin: 0;
}
.running {
    background: linear-gradient(
        90deg,
        var(--b_high) 0,
        var(--b_high) var(--time-elapsed),
        var(--background) var(--time-elapsed),
        var(--background) 100%);
}

.paused {
    background: linear-gradient(
        90deg,
        var(--b_med) 0,
        var(--b_med) var(--time-elapsed),
        var(--b_low) var(--time-elapsed),
        var(--b_low) 100%);
}

.waiting, .debug {
    color: var(--f_high);
    background: linear-gradient(
        90deg, 
        var(--background) 0%, 
        var(--background) 25%, 
        var(--b_high) 25%, 
        var(--b_high) 50%, 
        var(--b_inv) 50%,
        var(--b_inv) 75%,
        var(--background) 75%, 
        var(--background) 100%); 
        background-size: 400%;
    animation: colours 1s ease infinite forwards;
}

@keyframes colours {
    0% {
        background-position: 0% 0%;
        color: var(--f_high);
    }
    75% {
        color: var(--f_inv);
    }
    100% {
        color: var(--f_high);
        background-position: 100% 0;
    }
}
